@font-face {
  font-family: "CoC";
  src: url('../font/Supercell-magic-webfont.ttf');
}

header {
  background-color: #3177FF;
  height: 3vw;
  padding: 0vw 4vw;
}

section {
  padding: 2vw 4vw;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.5vw;
  margin: 0;
  padding: 0 1vw;;
  display: inline-block;
  vertical-align: middle;
  font-family: CoC,sans-serif;
  color: white;
}

.container {
  width: 100%;
  font-size: 0;
}

.divTable {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.divWar {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.tbMembers {
  width: 100%;
  margin: auto;
}

.tbWar {
  width: 60%;
  margin: auto;
}

th {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
}

td {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
